{% extends 'base.html.twig' %}

{% block body %}
    <h1>Orderregulator</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ orderRegulator.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ orderRegulator.number }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if orderRegulator.createdAt %}{{ orderRegulator.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if orderRegulator.updatedAt %}{{ orderRegulator.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('orderregulator_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('orderregulator_edit', { 'id': orderRegulator.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
