{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des gravures</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nom du produit</th>
            <th>Date de création de la session</th>
            <th>Statut de gravure</th>
            <th>Machine utilisée</th>
            <th>Texte lié</th>
            <th>Image</th>
            <th>Lien PDF</th>
            <th>ID config de prestashop</th>
            <th>Date de création</th>
            <th>Date de modification</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for gravure in gravures %}
            <tr>
                <td>{{ getAliasProduct(gravure.id_product) }}</td>
                <td>{{ getCreateSession(gravure.id_session) }}</td>
                <td>{{ getNameStatus(gravure.id_status) }}</td>
                <td>{{ getNameMachine(gravure.id_machine) }}</td>
                <td>
                    <table class="table">
                        {% for text in gravure.texts %}
                            <tr>
                                <td>{{ text.name_block }}</td>
                                <td>{{ text.value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td><a href="{{ gravure.path_jpg }}"><img src="{{ gravure.path_jpg }}" alt="{{ gravure.path_jpg }}" width="200"></a></td>
                <td><a href="{{ gravure.path_pdf }}"> lien PDF</a></td>
                <td>{{ gravure.config_id }}</td>
                <td>{{ gravure.created_at }}</td>
                <td>{{ gravure.updated_at }}</td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><a class="btn btn-danger" href="{{ path('order_index') }}">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Retour
        </a></p>

{% endblock %}
