{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier la solution</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <p class="text-center"><input class="btn btn-warning" type="submit" value="Modifier" /></p>
    {{ form_end(edit_form) }}


    <p class="text-right">
        <a class="btn btn-default" href="{{ path('solution_index') }}">
            Retour à la liste
        </a>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    </p>
{% endblock %}

{% block javascripts %}

{% endblock %}