{% extends 'base.html.twig' %}

{% block body %}
    <h1>Régulateur de Commande </h1>

    <table class="table table-bordered table-hover">
    <thead>
            <tr>
                <th>Nombre de Commandes</th>
                <th>Dernier intervenant</th>
                <th>Mis à jour le </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orderRegulator in orderRegulators %}
            <tr>
                <td>{{ orderRegulator.number }}</td>
                <td>{{ orderRegulator.lastSpeaker }}</td>
                <td>{% if orderRegulator.updatedAt %}{{ orderRegulator.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                            <a class="btn btn-warning" href="{{ path('gravure_orderregulator_edit', { 'id': orderRegulator.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>Le nombre de commande est très important: il fait réfèrence aux X dernières commandes que le module va traiter.</p>
    <p>Par défaut, on vous conseille 500.</p>
    <p>Faites attention svp !</p>

            {#<a href="{{ path('orderregulator_new') }}">Create a new orderRegulator</a>#}

{% endblock %}
