{% extends 'base.html.twig' %}

{% block body %}
    <h1>Endofthedaytime</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ endOfTheDayTime.id }}</td>
            </tr>
            <tr>
                <th>Hours</th>
                <td>{% if endOfTheDayTime.hours %}{{ endOfTheDayTime.hours|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lastspeaker</th>
                <td>{{ endOfTheDayTime.lastSpeaker }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if endOfTheDayTime.createdAt %}{{ endOfTheDayTime.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if endOfTheDayTime.updatedAt %}{{ endOfTheDayTime.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('endofthedaytime_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('endofthedaytime_edit', { 'id': endOfTheDayTime.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
