{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des mails alertés lorsque le nombre de bond est inférieur à 10</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mailBond in mailBonds %}
            <tr>
                <td><a href="{{ path('mailbond_show', { 'id': mailBond.id }) }}">{{ mailBond.id }}</a></td>
                <td>{{ mailBond.mail }}</td>
                <td>
                            <a class="btn btn-warning" href="{{ path('mailbond_edit', { 'id': mailBond.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a class="btn btn-success" href="{{ path('mailbond_new') }}">Ajouter un nouveau mail</a>

    <a class="btn btn-danger" href="{{ path('bond_index') }}">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Retour
    </a>

{% endblock %}
