{% extends 'base.html.twig' %}

{% block body %}
    <h1>Configuration du nombre de caisses </h1>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Nombre de colonnes</th>
            <th>Nombre de lignes</th>
            <th>Dernier intervenant</th>
            <th>Mis à jour le</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for boxNumber in boxNumbers %}
            <tr>
                <td>{{ boxNumber.boxColumn }}</td>
                <td>{{ boxNumber.boxRow }}</td>
                <td>{{ boxNumber.lastSpeaker }}</td>
                <td>{% if boxNumber.updatedAt %}{{ boxNumber.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('boxnumber_edit', { 'id': boxNumber.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
