{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des sessions</h1>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Créateur</th>
            <th>Nombre de gravure total</th>
            <th>Date de création</th>
            <th>Date de modification</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.user }}</td>
                <td>{{ session.gravure_total }}</td>
                <td>{{ session.created_at }}</td>
                <td>{{ session.updated_at }}</td>
                <td>
                    {#<a class="btn btn-warning" href="{{ path('gravure_session_edit', { 'id': session.id }) }}">Modifier</a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a class="btn btn-success" href="{{ path('gravure_session_new') }}">Ajouter</a>#}

{% endblock %}
