{% extends 'base.html.twig' %}


{% block gravure %}
    <div align="center">
        <h1>Instance de gravure</h1>
    </div>
    <div class="row">
        <div class="col-sm-3" id="div_display_gravure"></div>
        <div class="col-sm-5" id="div_tableau">
            <div id="div_table"></div>
            <div>
                <a href="{{ path('selection_gravure_index') }}">
                <button class="btn btn-default" role="button"
                        style="border-radius: 15px;padding: 10px;background-color: #575354;color:white;margin-top: 20px;">
                    <h3>
                        <i class="glyphicon glyphicon-edit" style="font-size:35px;"></i>
                        Modifier la session
                    </h3>
                </button>
                </a>
                {#<br>#}
                {#<button class="btn btn-default" onclick="cancelSession();"  role="button"#}
                        {#style="border-radius: 15px;background-color: #575354;color:white;margin-top: 20px;">#}
                    {#<h4>#}
                        {#<i class="glyphicon glyphicon-trash" style="font-size:20px;"></i>#}
                        {#Annuler la session#}
                    {#</h4>#}
                {#</button>#}
            </div>
        </div>
        <div class="col-sm-4" id="div_chain_session">

            <h2>Session N°{{ idSession }}</h2>

            <div id="div_chain_category"></div>
            <div id="div_modal_list_gravure"></div>
            <div id="div_button_gravure"></div>
        </div>
    </div>

    {#modal pour avertir l'utilisateur si des commandes sont terminées#}
    <div class="modal fade" id="Modal_Engrave_Finish" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" id="Modal_Engrave_Finish_Body">
                </div>
            </div>
        </div>
    </div>

    {#modal lorsque la session est terminé#}
    <div class="modal fade" id="Modal_Session_Finish" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Session N°{{ idSession }} terminée</h2>
                </div>
                <div class="modal-body" id="Modal_Session_Finish_Body" style="height:100px;">
                    <div class="col-sm-6">
                        <a href="{{ path('selection_gravure_index') }}"> <button class='btn btn-info'>Démarrer une nouvelle session</button> </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{{ path('gravure_session_show', {'id' : idSession }) }}"> <button class="btn btn-info">Voir l'archive de la session</button> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>

        input[type='checkbox'] {
            transform: scale(4);
            margin: 20px 0px;
        }

        #table_order td {
            width: 65px;
            height: 65px;
            background-color: #E1B7B9;
            border: 6px solid white;
            font-size: large;
            color: white;
            font-size: 30px;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
        }

        #div_tableau {
            padding-top: 60px;
        }

        #div_chain_category table{
            overflow-y:scroll;
            height:500px;
            display:block;
        }

        #div_chain_category td {
            font-size: large;
            color: black;
            font-size: 30px;
            text-decoration: none;
            text-align: center;
        }

        #div_chain_category i {
            font-size: 25px;
            padding: 10%;
            color: lightgrey;
        }

        #div_chain_category a {
            color: black;
        }

        #div_chain_category table {
            width: 95%;
        }

        .modal-final {
            width: 100%;
        }

    </style>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('bundles/gravure/js/assistant_gravure.js') }}"></script>
{% endblock %}